# PrestaShop core
/admin*/
/cache/
/config/
/controllers/
/img/
/js/
/localization/
/mails/
/pdf/
/themes/
/tools/
/translations/
/upload/
/var/
/vendor/
*.log
*.zip

# Garder seulement tes trucs
!/modules/ton_module/
!/override/
!/themes/ton_theme_custom/